
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
.error {color: #FF0001;}  
span {color: #FF0001;}  
/* lobby */
.comming-soon {
  position: relative;
}
.comming-soon img{
  width:100%;
}
.bg-img{
position: relative;
}
.desktop img{
	width:100%;
    position: relative;
	height:100%;
	display: inline;
}

.content{
  position: absolute;
  top: 70%;
  left: 79%;
  z-index: 999;
  padding: 40px 22px;
  min-width: 350px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.60);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content p{
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  margin:10px;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}
.content a{
  color: blue;
 text-decoration: underline;
}

.content label{color:#000000;text-align:left;}

.event-reg-bg-img{
position: relative;
}
.evdesktop img{
	width:100%;
	 position: relative;
	height:1000px;
	display: inline;
}
.event-reg-content{
  position: absolute;
  left:4%;
  top:35%;
  z-index: 999;
  padding: 40px 32px;
  width: 51%;
  background: rgba(255,255,255,0.60);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.event-reg-content header{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 15px 0;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}

.event-reg-content p{
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin:10px;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}
.event-reg-content a{
  color: blue;
  text-decoration: underline;
}
.event-reg-content label{color:#000000;text-align:left;}



/* lobby */
.lobby-banner {
  position: relative;
}
.lobby-banner img{
  width:100%;
}

.exhibition-btn img {
    position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
    top: 47%;
    left: 50.9%;
	 cursor: pointer;
    transform: translate(-50%, -50%);
}
.exhibition-btn p {
    position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
    cursor: pointer;
    top: 49.8%;
    left: 50.8%;
    transform: translate(-50%, -50%);
    color: #104273;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
.animated-logo img{
	 position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
    bottom: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
	
}
.lobby-video video{
	  position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19%;
    height: 22%;
    overflow: hidden;
    z-index: 0;
    outline: 0;

}
@media(max-width:1230px)
{
	.animated-logo img{
	position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
	bottom: 30%;
	left:50%;
	transform: translate(-50%, -50%);
	width:120px;
	
}
}

 .adi-video{z-index:999999; position:absolute;}
/* auditorium */ 
.audi-banner {
  position: relative;
}
.audi-banner img{
  width:100%;
}

.aun-iframe1 iframe{
	position: absolute;
	top: 36%;
	left:50%;
	transform: translate(-50%, -50%);
	width:60%;
	height:53.5%;
}

.agenda-btn{
    background: #ffffffcf;
    text-align: center;
    position: fixed;
    left: 15px;
    border-radius: 15px;
    cursor: pointer;
	bottom:5%; 
	padding: 7px 27px;
}
.agenda-btn img{
	height:32px;
	
}
.agenda-btn span{
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
   
}
.q_a_btn{
    background: #ffffffcf;
    text-align: center;
    position: fixed;
    right: 15px;
    border-radius: 15px;
    cursor: pointer;
	bottom:5%;
	padding: 7px 27px;
}
.q_a_btn span{
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
   
}
.poll_btn{
    background: #ffffffcf;
    text-align: center;
    position: fixed;
    right: 15px;
    border-radius: 15px;
    cursor: pointer;
	bottom:18%;
	padding: 7px 27px;
}

.poll_btn span{
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
   
}
.info-box {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: none;
    top: 0;
    z-index: 9;
}
#agenda-popup {
    top: -20px;
    overflow-y: hidden;
}
#agenda-popup .modal-content {
    position: relative;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.98);
}
.information {
    width: 600px;
    margin: 0px auto;
    background: rgb(255, 255, 255, 0.97);
    position: relative;
    top: 120px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.info-data {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.info-data::-webkit-scrollbar {
    width: 10px;
}

.info-data::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.info-data::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #00a652;
}
.info-close img {
    width: auto;
    height: auto;
}
.info-close {
    position: absolute;
    right: 3px;
    top: 1px;
    cursor: pointer;
}
.user-details {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 15px;
    padding-top: 15px;
}
@media(max-width:576px)
{
	
	.comming-soon
	{
		display:none;
	}

	.poll_btn_mob{
    background: #f2f2f2;
    text-align: center;
    position: fixed;
    left: 15px;
    border-radius: 15px;
    cursor: pointer;
	bottom:5%; 
	padding: 7px 27px;
	display: block!important;
	}
	.poll_btn_mob span{
		display: block;
		color: #000000;
		font-weight: 600;
		font-size: 14px;
	   
	}
	.q_a_btn{
		background: #f2f2f2;
		text-align: center;
		position: fixed;
		right: 15px;
		border-radius: 15px;
		cursor: pointer;
		bottom:5%;
		padding: 7px 27px;
	}
	.poll_btn{
		display:none;
	}
	.q-and-a{
		display:inline;
	}
	.agenda-btn{
		display:none;
	}
	.q_a_btn
	{
	display:inline;
	}
	.lobby-banner1 {
	  display:none;
	}
	.audi-banner1 {
		display:none;
	}
	.artboard-contentmob
	{
		display: block!important; 
	}
	.artboard-content {
		z-index: 999999;
		position: fixed;
		display: block!important;
		color: #002f4f;
		width: 100%;
		background: rgb(230 230 230 / 0.46);
		backdrop-filter: blur(12px);
		height: 100%;
	}

	.artboard-content img{
		max-width: 231px;
		border-radius: 50%;
		height: 231px;
		border: 1px solid #c4cad3;
		box-shadow: 4px 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 83px rgba(0, 0, 0, 0.12);
	}
}

@media(max-width:768px)
{
	.animated-logo img{
	 position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;	
	}
	.poll_btn{
    background: #ffffffcf;
    text-align: center;
    position: fixed;
    right: 15px;
    border-radius: 15px;
    cursor: pointer;
	bottom:27%;
	padding: 7px 27px;
	}


.event-reg-content header{
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}

}
.mobile img
{
display:none;	
}
.evmobile img
{
display:none;	
}


	@media (max-width:768px){.mobile img { position: relative;width:100%;height:100vh; display: inline;}
	@media (max-width:768px){.evmobile img { position: relative;width:100%;height:100%; display: inline;}
	.content{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  z-index: 999;
		  padding: 20px 12px;
		  width: 85%;
		  transform: translate(-50%,-50%);
		  background: rgba(255,255,255,0.60);
		  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
		}
		.event-reg-content{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  z-index: 999;
		  padding: 20px 12px;
		  width: 90%;
		  transform: translate(-50%,-50%);
		  background: rgba(255,255,255,0.60);
		  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
		}
	}
 
    @media (max-width:768px){.desktop img { display: none;}}
    @media (max-width:768px){.evdesktop img { display: none;}}


 
@media(max-width:576px)
{
	
	.animated-logo img{
	 position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
    bottom: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;	
	}
		.content{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  z-index: 999;
		  padding: 20px 12px;
		  width: 85%;
		  transform: translate(-50%,-50%);
		  background: rgba(255,255,255,0.60);
		  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
		}
		.event-reg-content{
		  position: absolute;
		  top: 60%;
		  left: 50%;
		  z-index: 999;
		  padding: 40px 22px;
		  width: 90%;
		  transform: translate(-50%,-50%);
		  background: rgba(255,255,255,0.60);
		  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
		}
		.evmobile img {width:100%;height:100%; }
			.animated-logo img{
			 position: absolute;
			animation: fadeinout 1s linear infinite;
			transition: all 0.01s ease-in-out;
			bottom: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80px;	
			}
}
@media(max-width:480px)
{
	.content{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  z-index: 999;
		  padding: 20px 12px;
		  width: 85%;
		  transform: translate(-50%,-50%);
		  background: rgba(255,255,255,0.60);
		  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
		}
	.evmobile img {min-height:1600px; }
	.event-reg-content{
		  position: absolute;
		  top: 60%;
		  left: 50%;
		  z-index: 999;
		  padding: 20px 12px;
		  width: 90%;
		  transform: translate(-50%,-50%);
		  background: rgba(255,255,255,0.60);
		  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
		}
		.animated-logo img{
		 position: absolute;
		animation: fadeinout 1s linear infinite;
		transition: all 0.01s ease-in-out;
		bottom: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		
	}
	.exhibition-btn img {
    position: absolute;
    animation: fadeinout 1s linear infinite;
    transition: all 0.01s ease-in-out;
    top: 40%;
    left: 50.9%;
	 cursor: pointer;
    transform: translate(-50%, -50%);
	
	}

}